/* stylesheet */

* {
    background-color: orangered;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* index */
#main {
    text-align: center;
    font-size: 44px;
}

.img {
    text-align: center;
}

.recipes {
    font-size: 33px;
    margin: 10px;
    margin-top: 20px;
}
/* pages */
.header {
    text-align: center;
}
.description {
    margin-bottom: 30px;
    text-align: center;
}

